{% extends "nie_hub/mainBase.html" %}
{% block content %}
	<!-- <div class="col-lg-2">
		<div class="vertical-menu">
			<a href="{%url "home" %}">Home</a>
			<a href="{%url "login" %}" >Login</a>
			<a href="{%url "signup" %}" class="active">Sign Up</a>
		</div>
	</div> -->
	<form id ="align" class="form-group" method="POST">{% csrf_token %}

		<label for="ename">Event Name:</label>
		<input type="text" name="ename" id="ename" class="form-control" required>

		<label for="body">Body:</label>
		<textarea name="body" id="body" class="form-control" rows="5"></textarea>

		<label for="size">Size:</label>
		<select name="size" id="size" class="form-control">
			<option value="XXS">XXS</option>
			<option value="XS">XS</option>
			<option value="S">S</option>
			<option value="M">M</option>
			<option value="L">L</option>
			<option value="XL">XL</option>
			<option value="XXL">XXL</option>
		</select>



		<label for="email">Email:</label>
		<input type="text" name="email" id="email" class="form-control" required>

		<label for="phone_number">Contact Number: </label>
		<input type="text" name="phone_number" id="phone_number" class="form-control" maxlength="10" required>

		<label for="usn">USN: </label>
		<input type="text" name="usn" id="usn" class="form-control" required>

		<label for="password">Enter a valid Password:  </label>
		<input type="password" name="password" id="password" class="form-control" required><br><br>

		<input type="submit" name="submit" class="btn btn-success">
	</form>
{% endblock %}